@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

:root {
  --grey: #d7cec7;
  --tan: #c09f80;
  --red: #76323f;
  --blackboard: #565656;
  --backyard: linear-gradient(hotpink, limegreen);
  --light-grey: rgb(183, 183, 183);
  --coolorG-dark: #264653;
  --cooloG-light: #2a9d8f;
  --coolorOY-dark: #f4a261;
  --coolorOY-light: #ffe986;
  --coolorOY-light-dimmed: #e5d58b;
  --coolorR: #e76f51;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.body {
}

.gameContainer {
  /* background: red; */
  width: 100vw;
  /* max-width: 500px; */
  height: 100vh;
  /* max-height: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gameFace {
  display: grid;
  grid-template-rows: 1fr 2fr 5fr;
  width: 95vw;
  max-width: 500px;
  height: 95vh;
  max-height: 800px;
  background-color: var(--coolorG-dark);
  align-items: baseline;
  border: 5px solid black;
  border-radius: 10px;
}
.titleTrack {
  position: relative;
  width: 100%;
  height: 80px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleTrack > h1 {
  margin: 0;
  display: inline-block;
  color: var(--coolorOY-light);
}
#subTitle {
  color: var(--coolorOY-dark);
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

.monitor {
  position: relative;
  background-color: var(--blackboard);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--coolorOY-light);
  border-radius: 5px;
}
.screen {
  position: relative;
  width: 100%;
  height: 90vw;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.winnerDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #76323f;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100vh);
}
.loserDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #5201ff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100vh);
}

.gameOverSlip {
  transform: translateY(0vh);
}

#p1HealthBox,
#compHealthBox {
  position: absolute;
  top: 5px;
  height: 2.5%;
  width: 45%;
  display: flex;
  background-color: var(--coolorR);
  align-items: center;
}

#p1HealthBox {
  left: 2px;
  justify-content: flex-start;
}
#p1HealthBar {
  background-color: lime;
  height: 100%;
  width: 100%;
}
#compHealthBox {
  right: 2px;
  justify-content: flex-end;
}
#compHealthBar {
  background-color: lime;
  height: 100%;
  width: 100%;
}

.fightStage {
  position: relative;
  margin-top: 10%;
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dictate {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dictateHeader {
  font-family: "Luckiest Guy", cursive;
  font-size: 30vw;
  transition: transform 0.4s ease-out;
}
.dictateDance {
  animation: dictateWobble 1.2s linear 0s forwards;
}
@keyframes dictateWobble {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  25% {
    transform: translate(50px, 10px);
  }
  37.5% {
    transform: translate(-50px, 5px);
  }
  50% {
    transform: translate(-20px, -40px);
  }
  62.5% {
    transform: translate(20px, 35px);
  }
  75% {
    transform: translate(-20px, 30px);
  }

  99% {
    transform: translate(20px, -35px);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-100vw, 0px);
  }
}

.dictateOFFSCREEN {
  transform: translateX(-100vw);
}

#player1Avatar,
#computerAvatar {
  background-color: transparent;
  width: 80%;
  height: 80%;
}
.player1Avatar {
  margin-left: auto;
  transform: translateX(-100vw);
  transition: transform 0.25s ease-out;
}
.player1Attack {
  transform: translateX(0vw);
}

.player1AvatarHurt {
  margin-right: auto;
  animation: hurtandshakeL 1s linear forwards;
}

.computerAvatar {
  margin-right: auto;
  transform: translateX(100vw);
  transition: transform 0.25s ease-out;
}
.computerAttack {
  transform: translateX(0vw);
}
.computerAvatarHurt {
  margin-left: auto;
  animation: hurtandshakeR 1s linear forwards;
}

.avatarImages {
  width: 100%;
}
.avatarFaces {
  width: 100%;
  position: absolute;
  z-index: 3;
  left: 0;
}

@keyframes hurtandshakeL {
  0% {
    transform: rotate(0deg) scale(100%) translate(0px, 0px);
  }
  8% {
    transform: rotate(10deg) scale(95%) translate(-5px, -10px);
  }
  16% {
    transform: rotate(0deg) scale(90%) translate(-10px, -20px);
  }
  24% {
    transform: rotate(-10deg) scale(80%) translate(-15px, -30px);
  }
  32% {
    transform: rotate(0deg) scale(75%) translate(-20px, -40px);
  }
  40% {
    transform: rotate(10deg) scale(75%) translate(-20px, -40px);
  }
  48% {
    transform: rotate(0deg) scale(75%) translate(-20px, -40px);
  }
  56% {
    transform: rotate(-10deg) scale(75%) translate(-20px, -40px);
  }
  64% {
    transform: rotate(-20deg) scale(75%) translate(-20px, -40px);
  }

  100% {
    transform: rotate(-20deg) scale(75%) translate(-20px, -40px);
  }
}
@keyframes hurtandshakeR {
  0% {
    transform: rotate(0deg) scale(100%) translate(0px, 0px);
  }
  8% {
    transform: rotate(-10deg) scale(95%) translate(5px, -10px);
  }
  16% {
    transform: rotate(0deg) scale(90%) translate(-10px, -20px);
  }
  24% {
    transform: rotate(10deg) scale(80%) translate(15px, -30px);
  }
  32% {
    transform: rotate(0deg) scale(75%) translate(20px, -40px);
  }
  40% {
    transform: rotate(-10deg) scale(75%) translate(20px, -40px);
  }
  48% {
    transform: rotate(0deg) scale(75%) translate(20px, -40px);
  }
  56% {
    transform: rotate(10deg) scale(75%) translate(20px, -40px);
  }
  64% {
    transform: rotate(20deg) scale(75%) translate(20px, -40px);
  }

  100% {
    transform: rotate(20deg) scale(75%) translate(20px, -40px);
  }
}

.console {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 1fr;
  width: 100%;
}
.controller {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.roundContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  align-items: flex-end;
}
.round {
  color: var(--coolorOY-light);
  margin-bottom: 10px;
}
.userBut {
  background-color: var(--coolorOY-light);
  color: var(--coolorG-dark);
  border: 3px solid black;
  border-radius: 25%;
  height: 100px;
  width: 100px;
}
.userBut:active {
  scale: 0.95;
  border: 3px solid rgb(70, 69, 69);
  background-color: var(--coolorOY-light-dimmed);
}
.userBut > h6 {
  font-size: 1.25rem;
}

.resetBox {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.resetBut {
  background-color: var(--coolorOY-light);
  color: var(--coolorR);
  text-shadow: 1px 1px black;
  border: 3px solid black;
  border-radius: 15px;
  height: 50px;
  width: 100px;
}
.resetBut:active {
  scale: 0.95;
  background-color: var(--coolorOY-light-dimmed);
}

.keepScore {
  display: inline-block;
  /* width: 40%; */
  /* min-height: 80px; */
}
.decl {
  text-align: center;
  font-family: fantasy;
  /* grid-column-start: 1;
  grid-column-end: 3; */
}
.lastResult {
  color: white;
  padding: 3px;
}
