@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

:root {
  --grey: #d7cec7;
  --tan: #c09f80;
  --red: #76323f;
  --blackboard: #565656;
  --backyard: linear-gradient(hotpink, limegreen);
  --light-grey: rgb(183, 183, 183);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.body {
  background: var(--backyard);
}

.gameContainer {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--backyard);
  /* grid-template-columns: 1fr 4fr 1fr; */
}

.gameFace {
  display: grid;
  grid-template-rows: 1fr 2fr 5fr;
  width: 95vw;
  height: 95vh;
  background-color: var(--light-grey);
  /* padding-left: 5%;
  padding-right: 5%; */
  align-items: baseline;
  border: 5px solid black;
  border-radius: 10px;
}
.titleTrack {
  position: relative;
  width: 100%;
  /* background-color: blue; */
  height: 80px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #76323f;
}
.titleTrack > h1 {
  margin: 0;
  display: inline-block;
}
#subTitle {
  position: absolute;
  bottom: 0;

  right: 0;
  margin: 0;
}

.monitor {
  background-color: var(--blackboard);
  width: 100%;
  /* height: 85vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen {
  position: relative;
  width: 90vw;
  height: 90vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#p1HealthBox,
#compHealthBox {
  position: absolute;
  top: 2px;
  height: 5%;
  width: 45%;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

#p1HealthBox {
  left: 2px;
  justify-content: flex-start;
}
#p1HealthBar {
  background-color: green;
  height: 50%;
  width: 100%;
}
#compHealthBox {
  right: 2px;
  justify-content: flex-end;
}
#compHealthBar {
  background-color: green;
  height: 50%;
  width: 100%;
}

.fightStage {
  position: relative;
  margin-top: 10%;
  width: 90%;
  height: 90%;
  border: 1px solid burlywood;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dictate {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dictateHeader {
  font-family: "Luckiest Guy", cursive;
  font-size: 30vw;
  transition: transform 0.4s ease-out;
}
.dictateDance {
  animation: dictateWobble 1.5s linear 0.45s 1 forwards;
}
@keyframes dictateWobble {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  25% {
    transform: translate(50px, 10px);
  }
  30% {
    transform: translate(-50px, 5px);
  }
  40% {
    transform: translate(-20px, -40px);
  }
  50% {
    transform: translate(20px, 35px);
  }
  60% {
    transform: translate(-20px, 30px);
  }

  80% {
    transform: translate(20px, -35px);
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.dictateOFFSCREEN {
  transform: translateX(-100vw);
}

.player1Avatar,
.computer1Avatar {
  width: 80%;
  height: 80%;
}
.player1Avatar {
  margin-left: auto;
  background-color: #76323f69;
}
.player1AvatarHurt {
  margin-right: auto;
}

.computerAvatar {
  margin-right: auto;
  background-color: #3c327669;
}
.computerAvatarHurt {
  margin-left: auto;
}

@keyframes hurtandshake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.console {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  background-color: darkseagreen;
}
.controller {
  background-color: brown;
  width: 100%;
  padding-top: 10%;
}
.whatsUp {
  /* width: 40%; */
}
.flexScore {
  display: inline-block;
  justify-content: center;
  gap: 10px;
}
.keepScore {
  display: inline-block;
  /* width: 40%; */
  /* min-height: 80px; */
}
.decl {
  text-align: center;
  font-family: fantasy;
  grid-column-start: 1;
  grid-column-end: 3;
}
.lastResult {
  color: white;
  padding: 3px;
}
